.form-login {
  width: 50%;
  padding-top:20%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

img {
 width:150px;
 height:150px;
 margin-left:30%;

}

.logo {
  margin-bottom:30px;
  padding-left:15px;
}